//-
//- Common usage mixins
//- --------------------------------------------------

//- Img image
mixin img(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	- var ext = name.split('.')[1];

	img(src='images/' + name, alt='', width=size[0], height=size[1], class=className)

//- Jpg image
mixin jpg(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	img(src='images/' + name + '.jpg', alt='', width=size[0], height=size[1], class=className)

	
//- Png image post
mixin pngPost(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	img(src='../../images/' + name + '.png', alt='', width=size[0], height=size[1], class=className)
	
//- Png image
mixin png(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	img(src='images/' + name + '.png', alt='', width=size[0], height=size[1], class=className)
	
//- Quote mark
mixin quote-mark(objClass)
	svg(class=objClass, version='1.1', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='30.234px', height='23.484px', viewbox='0 0 30.234 23.484', xml:space='preserve')
		g
			path(d='M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959\
              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246\
              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885\
              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\
              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723\
              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984\
              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635\
              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\
              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z')
//- Divider
mixin divider
	// Divider
	.shell: .divider
	='\n'


//- Thumbnail
//- Original image naming format: pagename-{X}-1200x600_original.jpg
mixin img-thumbnail(obj)
	- var originalSize = obj.original.split('_')[0].split('-').pop();
	a(href='images/' + obj.original + '.jpg', class='img-thumbnail-variant-' + obj.number, data-photo-swipe-item='', data-size=originalSize)
		figure
			+jpg(obj.img)
		.caption
			span.icon.icon-lg.linear-icon-magnifier

mixin thumbnail-small(obj)
	a.thumbnail-small(href=obj.link ? obj.link : obj.filename + '/index.html')
		.thumbnail-small-image
			img(src='images/layout-panel/' + obj.filename + '.jpg', alt='', width='380', height='280')
		.thumbnail-small-hover-image
			img(src='images/layout-panel/' + obj.filename + '.jpg', alt='', width='380', height='280')

		.thumbnail-small-caption
			p.thumbnail-small-header=obj.title

mixin photoswipe()
	// PhotoSwipe Gallery
	.pswp(tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter

					button.pswp__button.pswp__button--close(title="Close (Esc)")
					button.pswp__button.pswp__button--share(title="Share")
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip

				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")

				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				.pswp__caption
					.pswp__caption__cent




mixin post(post)
	article(data-ks-editable=editable(user, { list: 'Post', id: post.id })).media
		div
			a(href='/blog/post/' + post.slug)
				if post.image.exists
					img(src=post._.image.fit(80,80)).media-object
				else
					img(src="http://placehold.it/80x80").media-object
		.media-body
			h3.media-heading
				a(href='/blog/post/' + post.slug)= post.title
			if post.publishedDate || post.author
				p.text-muted.text-small
					if post.publishedDate
						time= post._.publishedDate.format('MMMM Do, YYYY')
						|
					if post.author
						span by #{post.author.name.full}
			!= post.content.brief
