- var fonts = "//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic"
- var html_class = "wide wow-animation smoothscroll"

include _mixins
include _config

block variables

doctype html

html(lang="de" class=html_class)
  head
    // Site Title
    block title
      title=pageName

    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset='utf-8')
    meta(name="description" content="" )
    meta(name="keywords" content="" )

    link(rel="icon" href="images/favicon.ico" type="image/x-icon")
    // Stylesheets
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic")
    link(rel="stylesheet" href="/styles/bootstrap.css")
    link(rel="stylesheet" href="/styles/style.css")

    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body
    // Page 
    .page        
      #page-loader: .cssload-container: .cssload-speeding-wheel
      block page

      block modals

    // Global Mailform Output
    #form-output-global.snackbars

    +photoswipe()

    // Javascript
    script(src="/js/core.min.js")
    script(src="/js/script.js")
    script(src="/js/yaMetrica.js")
    script(src="/js/googleAnalytics.js")
    script(src="/js/instafeed.min.js")
    script(src="/js/magnific.min.js")
