//extends  _skeleton
//
////- Includes
//include elements/_ui-list-inline-icon
//
//block variables
//	- var activeIndex = 0
//	- var footerLink = true
//	- var pageName = 'OlYoGa | Vinyasa und Ashtanga Yoga'
//
//block page
//	// Page Header
//	header.page-header
//		// RD Navbar
//		.rd-navbar-wrap
//			nav.rd-navbar.rd-sidebar_reverse(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-sidebar', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-sidebar', data-lg-layout='rd-navbar-sidebar', data-stick-up-clone='false', data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true', data-md-stick-up-offset='1px', data-lg-stick-up-offset='1px', data-body-class='rd-navbar-absolute', data-md-hover-on='false', data-lg-hover-on='false')
//				.rd-navbar-inner
//					// RD Navbar Panel
//					.rd-navbar-panel
//						.rd-navbar-panel__aside
//							button.rd-navbar-toggle.rd-navbar-search_collapsable(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
//
//						.rd-navbar-panel__main.rd-navbar-search_collapsable
//							// RD Navbar Brand
//							.rd-navbar-brand
//								a.brand-name(href='/')
//									+png(logoDefault)
//
//					// RD Navbar Nav
//					.rd-navbar-nav-wrap
//						include includes/eng_nav
//
//	include sections/_section-slider-creative
//
//	// Presentation
//	section.section-lg.bg-white.text-center(id=seeFeaturesLink)
//		.shell
//			.range.range-md-center
//				.cell-md-10.cell-lg-8
//					h3 Yoga is a source of inspiration, a teacher and a friend to me
//					p It does not matter where we start, whether it is going to be practice of asanas (bodily postures), meditation or simply an intention to understand oneself better. Yoga provides us with many tools, methods and techniques to get to know ourselves better, to explore, to try things out and with this to live our lives with higher awareness and more consciously. 
//					p Yoga is a way of living that helps us to build up a connection to ourselves, nature and all living beings. 
//					p Regardless of your initial intention, age, religion or physical state, you can always come to class to try things out and see where it takes you. If you are new to yoga, a whole new world will open up to you. If you have been practicing for a while, you know how insightful it can be, to deepen your practice with teacher's support. 
//					p Yoga is a friend that is always there for us and I am looking forward to sharing this practice with you.
//	='\n'
//
//	// Gallery
//	section.section-lg.bg-white(data-photo-swipe-gallery='gallery')
//		.shell-fluid
//			.range.range-10.range-horizontal-10
//				.cell-sm-6.cell-md-3.cell-lg-3
//					a.thumb-modern(data-photo-swipe-item, href='images/O1_1200x905.jpg', data-size='1200x905')
//						figure
//							+jpg('O1_472x355')
//						.thumb-modern__overlay
//
//				.cell-sm-6.cell-md-3.cell-lg-3
//					a.thumb-modern(data-photo-swipe-item, href='images/O2_1200x905.jpg', data-size='1200x905')
//						figure
//							+jpg('O2_472x355')
//						.thumb-modern__overlay
//
//				.cell-sm-6.cell-md-3.cell-lg-3
//					a.thumb-modern(data-photo-swipe-item, href='images/O3_1200x905.jpg', data-size='1200x906')
//						figure
//							+jpg('O3_472x355')
//						.thumb-modern__overlay
//
//				.cell-sm-6.cell-md-3.cell-lg-3
//					a.thumb-modern(data-photo-swipe-item, href='images/O4_1200x905.jpg', data-size='1200x905')
//						figure
//							+jpg('O4_472x355')
//						.thumb-modern__overlay
//	='\n'
//
//	section.section-lg.bg-white.text-center.home-video
//		.shell
//			.range.range-md-center
//				.cell-md-11.cell-lg-11
//					h3 YogaFamilia Messe
//					div.range
//						div.cell-md-7.cell-lg-7 <iframe width="700px" height="100%" src="https://www.youtube.com/embed/eo_DMsX71RQ?rel=0&amp;showi.." frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
//						div.cell-md-5.cell-lg-5.text-justify
//							p Über 300 Yoga-interessierte und Yoga-begeisterte Besucher konnten Yoga in Schnupperworkshops erleben und ausprobieren. Tolle Gespräche gab es auf der begleitenden Messe mit rund 20 Ausstellern aus der Region rund um Fitness, Entspannung, Gesundheit und Ernährung.
//							p Ich freue mich sehr euch auf der nächsten Messe am 24. November 2018 in der Schlossgartenhalle Ettlingen zu sehen.
//							p Videoproduktion:
//								=' '
//								a(href='http://www.artstudio-rs.com' target="_blank") artstudio-rs.com
//	='\n'
//
//
//	// Page Footer
//	include sections/_footer-minimal
