//
// Blurb
// --------------------------------------------------

// Blurb
.blurb {
  img{
    width: auto;
  }
}

.blurb__title {
  font-size: 18px;
  line-height: 1.33;
  color: $gray-base;
}

* + .blurb__title {
  margin-top: 16px;
}

@media (min-width: $screen-lg-min) {
  .blurb__title {
    font-size: $font-size-h5;
    line-height: $font-lh-h5;
  }

  * + .blurb__title {
    margin-top: 45px;
  }
}

// Blurb circle
.blurb-circle {
  text-align: left;

  .unit {
    .blurb-circle__icon {
      position: relative;
      top: 3px;
    }
  }
}

.blurb-circle__icon {
  .icon {
    width: 2.4em;
    height: 2.4em;
    border: 1px solid $primary;
    border-radius: 50%;
    text-align: center;
    color: $primary;
    font-size: 30px;
    line-height: 2.33em;
    
    &::before {
      line-height: inherit;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .blurb-circle__icon .icon {
    font-size: 36px;
  }
}

@media (min-width: $screen-xl-min) {
  .blurb-circle__icon .icon {
    font-size: 44px;
  }
}

.blurb-circle.blurb-circle_centered {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: $screen-xs-max) {
  .blurb-circle{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Blurb minimal
.blurb-minimal {
  text-align: left;
  .unit {
    .blurb-minimal__icon .icon {
      font-size: 32px;
    }
  }
}

.blurb-minimal__icon .icon {
  font-size: 30px;
  color: $primary;
}

.blurb-minimal.blurb-minimal_gray-base {
  &, .blurb-minimal__icon .icon {
    color: $gray-base;
  }
}

@media (min-width: $screen-lg-min) {
  .blurb-minimal__icon .icon {
    font-size: 36px;
  }
}

@media (min-width: $screen-xl-min) {
  .blurb-minimal__icon .icon {
    font-size: 44px;
  }
}