/*
*
* Form styles
* --------------------------------------------------
*/

//== Forms variables
//
$input-height: 60px;
$input-color: $gray;
$input-color-placeholder: $input-color;

$input-bg: $gray-lighter;
$input-border: $gray-lighter;
$input-border-radius: 3px;

$input-font-size: 14px;
$input-line-height: 22px;
$input-font-weight: 400;

$error-color: #d9534f;
$success-color: #5cb85c;

$input-border-obj: 1px solid $input-bg;
$input-padding-horizontal: 19px;
$input-line-height: round($input-font-size * 1.7);

$input-padding-vertical: round(($input-height - $input-line-height) / 2);
$input-padding: $input-padding-vertical $input-padding-horizontal;

@if ($input-border-obj != none) {
  $input-padding-vertical: round(($input-height - $input-line-height - (nth($input-border-obj, 1) * 2)) / 2);
  $input-padding: $input-padding-vertical $input-padding-horizontal;
}

$textarea-default-height: 216px;
$textarea-default-min-height: $input-height;
$textarea-default-max-height: round($textarea-default-height * 1.7);

//
// Form styles
// --------------------------------------------------

.rd-mailform {
  position: relative;
  text-align: left;

  * + .button {
    margin-top: 25px;
  }
}

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
  color: $gray-base !important;
}

.form-label,
.form-label-outside {
  margin-bottom: 0;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  font-style: italic;
}

.form-input {
  display: block;
  width: 100%;
  min-height: $input-height;
  padding: $input-padding-vertical $input-padding-horizontal;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  font-style: italic;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: $input-border-obj;
  border-radius: $input-border-radius;
  -webkit-appearance: none;
  transition: .3s ease-in-out;

  @if ($input-border-obj) {
    border: $input-border-obj;
  }

  &:focus {
    outline: 0;
    background: $white;
    border-color: $gray-1;
  }
}

textarea.form-input {
  height: $textarea-default-height;
  min-height: $textarea-default-min-height;
  max-height: $textarea-default-max-height;
  resize: vertical;
}

// Form wrapper
// -------------------------

.form-wrap {
  position: relative;

  //.button {
  //  width: 100%;
  //}
}

.form-wrap_icon {
  position: relative;
  .form-input {
    padding-left: 60px;
  }

  .form-label {
    left: 60px;
  }

  &::before {
    position: absolute;
    top: $input-height / 2;
    left: 22px;
    transform: translateY(-61%);
    margin-right: 7px;
    font-size: 24px;
    line-height: 24px;
    color: $gray-4;
  }

  &__label-outside {
    &:before {
      top: auto;
      bottom: $input-height / 2;
      transform: translateY(45%);
    }
  }
}

* + .form-wrap {
  margin-top: 20px;
}

.form-wrap + .form-wrap {
  margin-top: 20px;
}

// Form labels
// -------------------------

.form-label {
  position: absolute;
  top: $input-height / 2;
  left: $input-padding-horizontal;
  pointer-events: none;
  z-index: 9;
  transition: .25s;
  will-change: transform;
  transform: translateY(-50%);

  &.focus {
    opacity: 0;
  }

  &.auto-fill {
    color: $input-color;
  }
}

.form-label-outside {
  color: $gray-base;
  font-style: normal;

  @media (min-width: $screen-sm-min) {
    position: static;

    &,
    &.focus,
    &.auto-fill {
      transform: none;
    }
  }

  & ~ .form-input {
    font-style: italic;
  }
}

.form-label-outside ~ .form-validation {
  top: 31px;
}

// Form validation
// -------------------------

.form-validation {
  position: absolute;
  right: 4px;
  top: 1px;
  z-index: 11;
  margin-top: 2px;
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  letter-spacing: 0;
  color: $error-color;
  transition: .3s;
}

.form-validation-left {
  .form-validation {
    right: auto;
    top: 100%;
    left: 0;
  }
}

// Form output
// -------------------------

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  visibility: hidden;
  transform: translateX(-500px);
  transition: .3s all ease;
  z-index: 9999999;

  &.active {
    transform: translateX(0);
    visibility: visible;
  }

  @media (min-width: $screen-xs) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.error {
    color: $error-color;
  }

  &.success {
    color: $success-color;
  }
}

// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;

  &[type='checkbox'], &-dummy {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -32px;
    margin-top: 0;
    outline: none;
    cursor: pointer;
  }

  &-dummy {
    pointer-events: none;
    background: $gray-lighter;
    transition: 250ms;

    &:after {
      position: absolute;
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

.checkbox-custom:checked ~ .checkbox-custom-dummy {
  background: $primary;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  font-size: $input-font-size;
  line-height: $input-line-height;
  font-weight: $input-font-weight;
  font-style: italic;
  color: $input-color;
  padding-left: 32px;

  .radio-custom-dummy {
    border-radius: 50%;

    &:after {
      content: '';
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
      background: $gray-darker;
      border-radius: 50%;
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  font-size: $input-font-size;
  line-height: $input-line-height;
  font-weight: $input-font-weight;
  font-style: italic;
  color: $input-color;
  padding-left: 32px;
  .checkbox-custom-dummy {
    pointer-events: none;
    border-radius: 3px;
    margin-left: 0;
    left: 0;

    &:after {
      content: '\e934';
      font-family: $font-icons;
      font-size: 15px;
      line-height: 10px;
      position: absolute;
      top: 7px;
      left: 4px;
      color: $white;
    }
  }
}

// Custom
.rd-mailform_style-1 {
  * + .button {
    margin-top: 30px;
  }
}

.rd-mailform_style-3 {
  .button {
    min-width: 220px;
  }

  * + .button {
    margin-top: 25px;
  }
}

@media (min-width: $screen-sm-min) {
  .rd-mailform_style-1 {
    * + .button {
      margin-top: 40px;
    }
  }
}

.rd-mailform_style-2 {
  max-width: 418px;

  & + .list-small {
    margin-top: 25px;
  }

  .form-wrap.group-xl {
    margin-top: 20px;
    @media (min-width: $screen-lg-min) {
      margin-top: 40px;
    }
  }
}

.rd-mailform-inline-flex {
  @media (min-width: $screen-sm-min) {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(flex-end);

    > .form-wrap + .form-wrap,
    > .form-wrap + .button {
      margin-left: 10px;
      margin-top: 0;
    }
    > .form-wrap {
      @include flex-grow(1);
    }
  }

  &.rd-mailform,
  &.rd-search {
    .button {
      @include display-flex;
      @include justify-content(center);
      @include flex-shrink(0);
      width: auto;
      min-height: 60px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.rd-mailform_responsive {
  @media (max-width: $screen-xs-max) {
    $input-height: 50px;
    .form-input {
      padding-top: ($input-height - $input-line-height) / 2;
      padding-bottom: ($input-height - $input-line-height) / 2;
      min-height: $input-height;
    }

    .form-label {
      top: $input-height / 2;
    }

    .form-wrap_icon::before {
      top: $input-height / 2 + 1px;
    }
  }
}

//register form
//
.register-form,
.login-form {
  * + .group,
  * + form {
    margin-top: 20px;
  }
  p {
    font-size: 14px;
  }
}

.rd-mailform_sizing-1 {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
}