//
// Layout panel
// --------------------------------------------------

$width-mobile: 260px;
$width-desktop: 330px;

$scrollbar-width: 20px;

.layout-panel-wrap {
  @extend %context-light;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1100;

  &.active {
    .layout-panel {
      transform: translateX(0);
    }

    .layout-panel-inner:after {
      box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
    }
  }

  .layout-panel-toggle,
  .layout-panel-inner > * {
    pointer-events: auto;
  }
}

.layout-panel {
  width: auto;
  transform: translateX($width-mobile + $scrollbar-width);
  transition: .55s all ease;
}

// Scroll
.layout-panel-content {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding-right: 20px;

  .mCSB_outside + .mCSB_scrollTools {
    right: 0;
  }

  .mCSB_scrollTools {
    width: 20px;
    pointer-events: auto;
  }

  .mCSB_scrollTools .mCSB_dragger {
    width: auto;
  }

  .mCSB_draggerContainer {
    padding: 2px;
    background: lighten($primary, 20%);
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: $white;
    border-radius: 4px;
  }

  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: $white;
  }
}

// Inner content
.layout-panel-inner {
  position: relative;
  height: auto;
  min-height: 101vh;
  max-width: $width-mobile;
  padding: 20px 0 20px;
  background: $white;
  margin-left: auto;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0);
    z-index: -10;
    transition: .33s all ease;
  }
}

.mobile, .tablet {
  &.rd-navbar-fixed-linked {
    .layout-panel-inner {
      padding-bottom: 90px;
    }
  }
}

.layout-panel-header {
  padding: 0 12px;

  .button {
    width: 100%;
  }

  * + .layout-panel-element,
  * + .layout-panel-title {
    margin-top: 22px;
  }

  @media (min-width: $screen-sm-min) {
    * + .layout-panel-element,
    * + .layout-panel-title {
      margin-top: 30px;
    }
  }
}

.layout-panel {
  .isotope-filters {
    padding: 0 5px;

    ul {
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        left: -100px;
        bottom: 0;
        right: -100px;
        border-bottom: 1px solid $gray-1;
      }

      li {
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font: $font-weight-base 12px/18px $font-family-base;
        color: $gray-dark;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
        }

        a {
          position: relative;
          z-index: 2;
          padding-bottom: 14px;
          text-align: right;

          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            background: $gray-dark;
            transition: .34s;
            transform: translate(0, 8px);
            opacity: 0;
          }

          &,
          &:active,
          &:focus {
            color: inherit;
          }

          &.active,
          &:hover {
            color: $primary;
          }

          &.active {
            &:after {
              transform: translate(0, 0);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .isotope {
    margin-top: 0;
  }

  * + .isotope {
    margin-top: 20px;
  }

  * + .isotope-filters {
    margin-top: 25px;
  }
}

.layout-panel-toggle {
  @include reset-button;
  position: fixed;
  top: 20vh;
  right: $width-mobile + $scrollbar-width;
  z-index: 10;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: $white;
  color: $gray-base;
  text-align: center;
  box-shadow: -5px 1px 10px 0 rgba(0, 0, 0, 0.05);
  border-right: 0;
  transition: .55s all ease;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Linearicons';
    font-size: 16px;
    transition: .33s;
  }

  &::before {
    content: '\e6f2';
    opacity: 1;
  }

  &::after {
    content: '\e935';
    opacity: 0;
  }

  &.active {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}

@mixin layout-spacing($x: 5px, $y: $x) {
  padding-left: $x / 2;
  padding-right: $x / 2 - 1px;
  .isotope {
    position: relative;
    margin-bottom: -$y;
    transform: translateY(-$y);
  }

  .isotope-item {
    margin-top: $y;
    padding: 0 $x / 2;
    &:before {
      content: '';
      display: block;
    }
  }
}

.layout-panel-main {
  position: relative;
  z-index: 10;
  @include layout-spacing(10px, 10px);

  .isotope {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    position: static !important;
  }

  .isotope-item {
    @include flex-basis(50%);
    @include flex-grow(1);
  }
}

* + .layout-panel-main {
  margin-top: 25px;
}

@media (min-width: $screen-sm-min) {
  .layout-panel-toggle {
    width: 54px;
    height: 54px;
    line-height: 54px;

    &::before,
    &::after {
      font-size: 22px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .layout-panel-wrap {
    width: 730px;

    &.active {
      .layout-panel {
        transform: translateX(0);
      }
    }

    .layout-panel {
      transform: translateX($width-desktop + $scrollbar-width);
    }

    .layout-panel-inner {
      max-width: $width-desktop;
    }

    .layout-panel-toggle {
      right: $width-desktop + $scrollbar-width;
    }
  }

  &.ie-10,
  &.ie-11 {
    .layout-panel {
      transform: translateX($width-desktop + $scrollbar-width);
    }

    .layout-panel-toggle {
      right: $scrollbar-width;
    }

    .layout-panel-wrap {
      &.active {
        right: $scrollbar-width;

        .layout-panel-toggle {
          right: $width-desktop + $scrollbar-width * 2;
        }
      }
    }
  }
}


// Thumbnail small
//
.thumbnail-small {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px 5px 0;
  border: 1px solid $gray-1;
  transition: .5s;
  color: $gray-darker;
  background-color: transparent;

  &:hover {
    background: $primary;
    color: $white;
  }
}

.thumbnail-small-image {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.thumbnail-small-hover-image {
  display: none;

  img {
    width: 100%;
    height: auto;
  }
}

.thumbnail-small-caption {
  position: relative;
  padding: 10px 8px;
}

.thumbnail-small-header {
  position: relative;
  z-index: 1;
  font: 300 12px/18px $font-family-base;
}

.desktop {
  @media (min-width: $screen-md-min) {
    .thumbnail-small-image {
      transition: .25s all ease;
    }

    .thumbnail-small-hover-image {
      display: block;
      position: absolute;
      left: -10px;
      top: 50%;
      z-index: 11;
      transform: translate(-120%, -60%);
      transition: .33s all ease;
      width: 380px * .9;
      height: 280px * .9;
      background: $white;
      box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
      opacity: 0;
      pointer-events: none;

      img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        border: 7px solid $white;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        z-index: -1000;
        transform: translateY(-50%) rotate(45deg);
        right: -11px;
        width: 24px;
        height: 24px;
        background: $white;
        box-shadow: -3px 0px 45px -2px rgba(0, 0, 0, 0.13);
      }
    }

    .thumbnail-small {
      &:hover {
        .thumbnail-small-caption:after {
          bottom: 0;
          opacity: 1;
        }

        .thumbnail-small-header {
          color: $white;
        }

        .thumbnail-small-image {
          &:after {
            opacity: 0;
          }
        }

        .thumbnail-small-hover-image {
          z-index: 12;
          opacity: 1;
          transform: translate(-100%, -60%);
        }
      }
    }
  }
}