//
// Posts
// --------------------------------------------------

.first-letter {
  &:first-letter {
    float: left;
    display: block;
    padding: 22px 30px;
    margin-right: 20px;
    margin-top: 8px;
    line-height: 40px;
    font-size: 40px;
    border-radius: 4px;
    background-color: $primary;
    color: $white;
    font-weight: 100;
    text-align: center;
    vertical-align: top;
  }
}

// Post
.post-inline {
  > * + * { margin-top: 5px; }
}

.post-inline__header,
.post-inline__footer {
  font-size: 12px;
  line-height: 1.4;
  font-style: italic;
  @include spacing(20px, 5px);

  > * {
    display: inline-block;
  }
}

.post-inline__time,
.post-inline__comment {
  color: $primary;
}

.post-inline__link {
  @include small;
  color: $gray-base;

  a { @include link(inherit, $primary); }
}

.post-inline__text {
  @include small;
}

// Post classic
//

* + .post-classic-body,
.post-classic-title + * {
  margin-top: 30px;
}

* + .post-meta,
* + .post-classic-footer,
* + .post-minimal-footer {
  margin-top: 20px;
}

* + .post-classic-title {
  margin-top: 25px;
}

* + .carousel-post-gallery,
* + .entry-video,
* + .post-link,
* + .post-quote,
* + .post-audio,
* + .img-thumbnail-variant-1{
  margin-top: 40px;
}

* + .button-link {
  margin-top: 20px;
}

.post-classic-title a{
  &:hover{
    color: $primary;
  }
}

.post-classic-title-icon {
  padding-left: 40px;
  position: relative;

  &[class*="linear-icon-"]:before {
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary;
    color: $white;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

}

.post-classic-footer {
  @media (min-width: $screen-lg-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    * + .button {
      margin-top: 0;
    }
  }
}

.post-meta {
  font-size: 12px;
  font-style: italic;
}

.meta-author {
  color: $gray; 
  &:hover{
    color: $primary;   
  }
}

// Post link
.post-link {
  padding: 27px 15px 30px;
  background-color: $primary;
  text-align: center;
  border-radius: 4px;

  * {
    color: $white;
  }

  > a {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;

    &:before {
      content: "\e915";
      display: inline-block;
      font: 400 14px/14px "Linearicons";
      margin-right: 10px;
      margin-top: -2px;
      vertical-align: middle;
    }
  }

  .post-classic-title + * {
    margin-top: 0;
  }

  .post-classic-title {
    a:hover {
      color: $gray-base;
    }
  }  
}

// Post quote
.post-quote {
  
  .quote-default{
    max-width: none;
  }
  
  a{
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: $gray-lighter;

    @media (min-width: $screen-sm-min) {
      padding: 35px 30px 65px;
    }
    .quote-default__text {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    .quote-default__cite {
      color: $gray;
    }

    &:hover{
      box-shadow: $shadow-area-sm;
    }
  }
}

// Post audio
.post-audio {
  .rd-audio-wrap {
    padding: 40px;
    background-color: $gray-lighter;
  }
}

// Post video

.post-video-wrap {
  @media (min-width: 1600px) {
    .embed-responsive-16by9 {
      padding-bottom: 35.45%;
    }
  }
}

// Post minimal
//

.post-minimal {
  text-align: left;

  * + .post-meta {
    margin-top: 10px;
  }

  * + .post-classic-body {
    margin-top: 20px;
  }

  * + & {
    margin-top: 50px;

    @media (min-width: $screen-sm-min) {
      margin-top: 60px;
    }
  }
}

.post-minimal-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  * + .button {
    margin-top: 25px;
  }
}

// blog masonry
//

.posts-lists-masonry-3-cols {
  > * {
    margin-top: 50px;
  }
  
  .owl-carousel .owl-stage-outer {
    z-index: -1;
  }
  .rd-audio {
    position: relative;
    left: 0;
  }

  @media (min-width: $screen-sm-min) {
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 50px;
    column-gap: 50px;

    > * {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-top: 0;
      margin-bottom: 60px;
      display: inline-block;
      width: 100%;
    }

    @media (min-width: $screen-lg-min) {
      -moz-columns: 3;
      columns: 3;
      margin-bottom: 0;
      transform: translateY(0);

      > * {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

// blog justify 
//

.carousel-blog-justify {
  .owl-dots {
    display: none !important;
  }
  @media (min-width: $screen-md-min) {
    display: block;
  }
}

// single post
//

.post-single-body {
  * + img,
  * + p {
    margin-top: 40px;
  }

  * + .quote-default__cite {
    margin-top: 27px;
  }

  .quote-default__cite {
    color: $gray;
  }
}

// Nonstandart post

.nonstandart-post-header {

  img + * { margin-top: 20px; }
  * + h2 { margin-top: 25px; }
  * + .post-meta { margin-top: 30px; }
  * + [class*='list-inline-'] { margin-top: 50px; }

  img {
    width: auto;
  }

  [class*='linear-icon-'] {
    &:before {
      font-size: 24px;
    }
  }

  .post-meta {
    font-size: $font-size-base;
    text-align: center;
  }

  [class*='bg-image-'] & {
    .icon {
      color: $white;
    }
    a {
      color: $primary;
      &:hover {
        color: $white;
      }

      &.icon:hover {
        color: $primary;
      }
    }
  }
}

// Post modern
.post-modern {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: -1px;
  padding-bottom: 75.3950338%;
  @include responsive-block;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-height: 101%;
    min-width: 101%;
  }

  .post-modern__inner {
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $gray-base;
      }
    }
  }

  .list-inline-tag {
    font-style: italic;
    font-size: 12px;
    color: $white;
  }
}

.post-modern__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  padding: 10px;
  background: rgba($primary, .66);
  pointer-events: none;

  > * {
    position: relative;
    z-index: 1;
    pointer-events: auto;
  }

  > * + * {
    margin-top: 20px;
  }
}

.post-modern__title {
  max-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-modern__divider {
  width: 116px;
  height: 1px;
  background: $white;
}

@media (min-width: $screen-md-min) {
  .post-modern__inner {
    > * + * {
      margin-top: 30px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .post-modern__inner {
    > * + * {
      margin-top: 45px;
    }
  }
}

.desktop {
  .post-modern {
    > img {
      will-change: transform;
      transition: all .4s ease-out;
    }

    .post-modern__inner {
      opacity: 0;
      transition: all .4s ease-out;
      background: rgba($primary, .9);

      > * {
        transform: scale(0);
        transition: all 0.3s ease-out;
      }

      @for $i from 1 through 5 {
        > *:nth-child(#{$i}) {
          transition-delay: .1s * $i;
        }
      }
    }

    &:hover {
      > img {
        transform: translate3d(-50%, -50%, 0) scale(.9);
      }

      .post-modern__inner {
        opacity: 1;

        > * {
          transform: scale(1);
        }
      }
    }
  }
}