/*
*
* Offsets
* --------------------------------------------------
*/

// Element offset
* + p { margin-top: 16px; }

p + * { margin-top: 22px; }

// Headings

// Tags + Tags
p + p { margin-top: 16px; }

h2 + h6,
h3 + h6 {
  margin-top: 23px;
}

// Tags + Classes

// Classes
* + .list-xs { margin-top: 16px; }

* + .list-small { margin-top: 15px; }

* + .list-md { margin-top: 20px; }

* + .list-marked { margin-top: 15px; }

* + .list-ordered { margin-top: 15px; }

* + .list-linked { margin-top: 23px; }

* + .list-icon { margin-top: 23px; }

* + .quote-centered { margin-top: 25px; }

* + .group-lg { margin-top: 35px; }

* + .figure { margin-top: 30px; }

* + [class*=list-inline-] { margin-top: 38px; }

* + .rd-mailform { margin-top: 38px; }

* + .contact-info { margin-top: 30px; }

* + .table-responsive { margin-top: 25px; }

* + .blurb-minimal { margin-top: 40px; }

* + .quote-default { margin-top: 40px; }

// Classes + Tags
h5 + p,
.heading-5 + p {
  margin-top: 18px;
}

h6 + p,
.heading-6 + p {
  margin-top: 10px;
}

.icon-xxl + h3,
.icon-xxl + .heading-3 {
  margin-top: 35px;
}

// Classes + Classes
.range + .range { margin-top: 40px; }

h1 + h3,
.heading-1 + h3,
h1 + .heading-3,
.heading-1 + .heading-3 {
  margin-top: 20px;
}

h2 + h5,
.heading-2 + h5,
h2 + .heading-5,
.heading-2 + .heading-5 {
  margin-top: 15px;
}

h3 + .owl-carousel,
.heading-3 + .owl-carousel {
  margin-top: 35px;
}

.blurb-minimal + .blurb-minimal { margin-top: 35px; }

.post-event + .divider-wrap,
.divider-wrap + .post-event {
  @media (min-width: $screen-sm-min) {
    margin-top: 55px;
  }
}

.table-responsive + .range {
  margin-top: 50px;
}

// Media offsets
@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
  * + p { margin-top: 28px; }
  * + .quote-centered { margin-top: 50px; }
  * + .figure { margin-top: 40px; }
  * + .group-lg { margin-top: 50px; }
}

@media (min-width: $screen-lg-min) {
  * + .quote-default { margin-top: 65px; }
  .range + .range { margin-top: 60px; }
}

html .page {
  * + .offset-top-1 {
    margin-top: 35px;
  }
}

// Range spacing
// -------------------------------
html {
  .range-10 {
    @include responsive-offset(10px);
  }

  .range-20 {
    @include responsive-offset(20px);
  }

  .range-30 {
    @include responsive-offset(30px);
  }

  .range-both-30 {
    margin-left: -15px;
    margin-right: -15px;
    @include responsive-offset(30px);

    > [class*='cell'] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .range-50 {
    @include responsive-offset(50px);
  }

  .range-60 {
    @include responsive-offset(50px);
  }

  .range-70 {
    @include responsive-offset(50px);
  }

  @media (min-width: $screen-sm-min) {
    .range-60 {
      @include responsive-offset-media(60px);
    }
    .range-70 {
      @include responsive-offset-media(70px);
    }

    .range-sm-75 {
      @include responsive-offset-media(75px);
    }
  }

  @media (min-width: $screen-md-min) {
    .range-md-90 {
      @include responsive-offset-media(90px);
    }
  }

  @media (min-width: $screen-lg-min) and (min-height: $screen-height-desktop) {
    .range-70 {
      @include responsive-offset-media(70px);
    }
  }

  @media (min-width: $screen-xl-min) {
    .range-xl-50 {
      @include responsive-offset-media(50px);
    }

    .range-xl-both-50 {
      margin-left: -50px;
      margin-right: -50px;
      @include responsive-offset-media(50px);

      > [class*='cell'] {
        padding-left: 50px;
        padding-right: 50px;
      }
    }

  }
}

// Insets
// -------------------------