//
// Swiper
// --------------------------------------------------

.swiper-container {
  @include display-flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  /* Fix of Webkit flickering */
  z-index: 1;
  height: 100vh;
}

.swiper-container-vertical > .swiper-wrapper {
  @include flex-direction(column);
}

.swiper-wrapper {
  position: relative;
  z-index: 1;
  @include display-flex;
  @include align-self(stretch);
  @include align-items(stretch);
  width: 100%;
  height: auto;
  min-height: inherit;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  will-change: transform;
}

.swiper-container-multirow > .swiper-wrapper {
  @include flex-wrap(wrap);
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
  pointer-events: none;
  opacity: 0;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  display: none;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  margin-top: -25px;
  z-index: 10;
  cursor: pointer;
  color: $gray-4;
  background-color: $white;
  fill: $white;
  transition: .33s;

  &::before {
    font-size: 20px;
    line-height: 50px;
  }

  &:hover {
    fill: $primary;
    color: $primary;
  }

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev {
  left: 0;
  border-radius: 0 4px 4px 0;
}

.swiper-button-next {
  right: -1px;
  border-radius: 4px 0 0 4px;
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  z-index: 10;
  display: block;
  transition: 300ms;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba($gray-base, .3);
  transition: .33s;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  background: $primary;
}

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 20px;
  left: 0;
  width: 100%;

  @media (min-width: $screen-md-min) {
    bottom: 70px;
  }
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 10px;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
  position: relative;
  -ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  bottom: 0;
  z-index: 50;
  height: 3px;
  width: 100%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $primary;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
  height: 100%;
}

// Swiper custom styles
.swiper-slide {
  position: relative;
  @include display-flex;
  @include align-items(center);
  @include flex-shrink(0);
  width: 100%;
  background-position: center center;
}

.swiper-slide.swiper-slide_top {
  @include align-items(flex-start);
}

.swiper-slide.swiper-slide_video {
  min-height: inherit;
  @include align-items(stretch);
  padding: 0;

  .rd-video {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
  }
}

.swiper-slide-caption {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 25px 0 60px;
  min-height: inherit;
}

@media (min-width: $screen-sm-min) {
  .swiper-slide-caption {
    padding: 60px 0;
  }
}

@media (min-width: $screen-md-min) {
  .swiper-slide-caption {
    padding: 100px 0;
  }
}

@media (min-width: $screen-lg-min) and (min-height: $screen-height-desktop) {
  .swiper-slide-caption {
    padding: 180px 0px 140px;
  }
}

.swiper-slider-custom {
  &.swiper-container {
    max-height: 250px;
    @media (min-width: $screen-sm-min) {
      max-height: 550px;
    }
    @media (min-width: $screen-lg-min) {
      max-height: 750px;
    }
  }
}

.desktop {
  @media (min-width: $screen-md-min) {
    .swiper-slider {
      .swiper-button-prev {
        transform: translateX(-100%);
      }

      .swiper-button-next {
        transform: translateX(100%);
      }

      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          transform: translateX(0);
        }
      }
    }
  }
}

// Swiper Fullheight
.swiper-slider_fullheight {
  min-height: calc(100vh - 56px);
  height: auto;

  .swiper-pagination {
    bottom: 15px;
  }

  @media (max-width: $screen-xs-max) {
    .swiper-slide.bg-gray-dark {
      background-color: rgba($gray-dark, .2);
      background-blend-mode: multiply;
    }

    .swiper-slide.bg-secondary-7 {
      background-color: rgba($gray-dark, .12);
      background-blend-mode: multiply;
    }
  }

  @media (min-width: $screen-sm-min) { 
    @media (max-width: $screen-sm-max) {
      min-height: 640px;
    }

    .swiper-slide-caption {
      padding-left: 60px;
      padding-right: 60px;
    }

    .swiper-pagination {
      bottom: 50px;
    }
  }

  @media (min-width: $screen-lg-min) {
    .swiper-pagination {
      bottom: 70px;
    }
  }

  @media (min-width: $screen-xl-min) {
    .swiper-slide-caption {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.desktop {
  @media (min-width: $screen-md-min) {
    .swiper-slider_fullheight {
      min-height: 100vh;
    }

    .rd-navbar-default-linked {
      .swiper-slider_fullheight {
        min-height: calc(100vh - 164px);
      }
    }

    .rd-navbar-corporate-linked {
      .swiper-slider_fullheight {
        min-height: calc(100vh - 215px);

        .swiper-slide-caption {
          padding-top: 150px;
          padding-bottom: 200px;
        }
      }
    }

    .rd-navbar_transparent-linked {
      .swiper-slider_fullheight {
        .swiper-slide-caption {
          padding-top: 200px;
          padding-bottom: 150px;
        }
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    .rd-navbar-default-linked {
      .swiper-slider_fullheight {
        min-height: calc(100vh - 100px);
      }
    }

    .rd-navbar_transparent-linked {
      .swiper-slider_fullheight {
        .swiper-slide-caption {
          padding-top: 300px;
          padding-bottom: 150px;
        }
      }
    }
  }
}