extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax

block variables
  - var activeIndex = 4
  - var pageName = '404 page'

block page
  // Page header
  include ../sections/_header-sidebar-inverse


  section.text-center
    +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/parallax-09.jpg",
        "htmlSpeed": "0.1",
        "class": 'parallax-header rd-parallax-light'
    })
      .parallax-header__inner: .parallax-header__content
        .shell
          .range.range-xs-center
            .cell-sm-10.cell-lg-8
              h2 Leider gibt es keine solche Seite auf OlYoga
              p Ihr könnt aber viele Informationen hier finden:
              a(href='index.html').button.button-gray-base Zurück zu Homepage
  ='\n'

  // Page Footer
  include ../sections/_footer-minimal

