extends  ../_skeleton

//- Includes
include ../elements/_ui-panel
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 3
  - var pageName = 'OlYoGa | Kontakt'

block page
  // Page header
  include ../sections/_header-sidebar-inverse
  include ../sections/_section-cta-1

  section.section-md.bg-white
    .shell
      .range.range-50
        .cell-sm-5.cell-md-4
          h3 Kontakt Details
          ul.list-xs.contact-info
            li
              dl.list-terms-minimal
                dt Address
                dd Bühl

            li
              dl.list-terms-minimal
                dt E-mail
                dd: a(href='mailto:contact@olyoga.de') contact@olyoga.de


        .cell-sm-7.cell-md-8
          h3 Kontaktformular
          p Um Kurse anzufragen, für Kollaborationen und geschäftliche Anfragen kontaktiert mich gerne über dieses Formular, oder direkt über: contact@olyoga.de
          // RD Mailform
          form.rd-mailform.rd-mailform_style-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap.form-wrap_icon.linear-icon-man
              input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
              label.form-label(for="contact-name") Name

            .form-wrap.form-wrap_icon.linear-icon-envelope
              input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") E-mail

            .form-wrap.form-wrap_icon.linear-icon-feather
              textarea#contact-message.form-input(name="message" data-constraints="@Required")
              label.form-label(for="contact-message") Nachricht

            button(type="submit").button.button-primary send


  ='\n'

  // Page Footer
  include ../sections/_footer-minimal-contact

