extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 1
  - var pageName = 'OlYoGa | Über mich'

block page
  // Page header
  include ../sections/_header-sidebar-inverse

  section.text-center
    +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/parallax-03.jpg",
        "htmlSpeed": "0.1",
        "class": 'parallax-header rd-parallax-light'
    })
      .parallax-header__inner: .parallax-header__content
        .shell
          .range.range-xs-center
            .cell-sm-10.cell-lg-8
              h2 "Es ist gut, ein Reiseziel vor Augen zu haben, aber letztendlich ist es die Reise, die zählt"
              p Ursula K. LeGuin
  ='\n'


  // Presentation
  section.section-xl.bg-white(id=seeFeaturesLink)
    .shell
      .range
        .cell-md-4
          h3 Nothing would be done at all if we waited until we could do it so well that no one could find a fault with it
          p Cardinal Newman

        .cell-md-8
          figure.figure-inline.object-displacement-1
            +png('images-9-382x382', 'img-circle')
          p Meine Bekanntschaft mit Yoga begann mit der Praxis von Asanas und am Anfang war Yoga für mich nur die Praxis von der Körperhaltungen auf der Yoga-Matte. Aber auf meinem Yogaweg habe ich verstanden, dass Yoga viel mehr als nur unterschiedliche Körperhaltungen bedeutet. Je tiefer ich in die Praxis der Asanas eintauchte, desto mehr konnte ich die positiven Effekte spüren. Ich hatte jedoch mehr Fragen als Antworten.
          p Schicksalhaft war das Treffen mit Anna Korchagina (Inh. Yogaunion, S-Pb) in meiner Heimatstadt Sankt-Petersburg. Anna machte mich mit Ashtanga Yoga bekannt*.
          p Mein Körper, Geist und Seele haben sich in dieser Praxis beruhigt. Ich habe gelernt, meine eigene Grenzen zu erkennen und zu akzeptieren. Yoga ermöglicht uns, den Alltag ganz anders wahrzunehmen und eigenes Handeln besser zu reflektieren. Yoga lehrt uns geduldig und konsequent zu sein, die Ausdauer und den Mut, Vertrauen und Hingabe. Ich fand mich in dieser Praxis und ich freue mich die Yoga-Lebensart weitergeben zu können.
          p Ich unterrichte mehrere Yoga-Richtungen.
          p Vinyasa Yoga mit seinem ständigen, fast tanzenden Bewegung, Kreativität und Lust neuen Sachen zu erfinden.
          p Ashtanga Yoga mit seinem klaren Struktur, tieferer Arbeit dank des Vinyasa-Systems (in Pattabhi Jois Tradition).
          p Partneryoga, dank dem die Paare den Kontakt wiederfinden und den schon bestehenden Kontakt vertiefen.
          p Außerdem gebe ich die Workshops zum Thema Yoga und Leadership, die Hauptidee deren ist, dass man basierend auf dem philosophischen System des Yoga anders führen kann.
          p Ich finde gemeinsam mit den Yoga Interessierten, deren eigenen passenden Yogastil und Arbeitsweise. Ich glaube, dass es möglich und vor Allem sehr wichtig ist, auf jede Person einzugehen.
          p Ich lade Dich zu meinen Kursen ein, um Deinen Still und Deinen Arbeitsrhytmus zu finden.
          p Um Kurse anzufragen, kontaktiert mich gerne über das Kontaktformular, oder direkt über: contact@olyoga.de
          p *Hier muss man zwischen Ashtanga Yoga - der achtgliedere Pfad, das philosophische System des Raja Yoga und Ashtanga Yoga - das Yoga-System in der Tradition von T.Krishnamacharya unterscheiden. Hier ist der letzere gemeint.
  ='\n'

  // Blurbs
  section.section-lg.bg-white
      .shell
        .range.range-50

          .cell-md-12
            h3 Ich unterrichte mehrere Yoga-Richtungen
          .cell-sm-4.cell-md-4
            // Blurb minimal
            article.blurb.blurb-minimal
              .blurb-minimal__icon: span.icon.linear-icon-yoga3.icon-yoga
              p.blurb__title Vinyasa Yoga
              p Vinyasa Yoga mit seinem ständigen, fast tanzenden Bewegung, Kreativität und Lust neue Sachen zu erfinden
          .cell-sm-4.cell-md-4
            // Blurb minimal
            article.blurb.blurb-minimal
              .blurb-minimal__icon: span.icon.linear-icon-yoga2.icon-yoga
              p.blurb__title Ashtanga Yoga
              p Ashtanga Yoga mit seinem klaren Struktur, tieferer Arbeit dank des Vinyas-Systems
          .cell-sm-4.cell-md-4
            // Blurb minimal// Blurb minimal
            article.blurb.blurb-minimal
              .blurb-minimal__icon: span.icon.linear-icon-yoga1.icon-yoga
              p.blurb__title Partner yoga
              p Partneryoga, dank dem die Paare den Kontakt wiederfinden und den schon bestehenden Kontakt vertiefen
  ='\n'

  section.bg-primary
        .shell
            .range.range-sm-center.range-md-bottom
                .cell-sm-8.cell-md-6.section-lg
                    a.button.button-gray-light-outline.wow.fadeInUpSmall(data-wow-delay=".9s" data-wow-duration='1.2s' href='kurse.html') Kurse anfragen

                .cell-sm-8.cell-md-6
                    .cat-img-group
                        .wow.fadeInUpSmall(data-wow-delay="1.1s" data-wow-duration='1.8s')
                            +jpg('cat-2-507x508','')


  // Page Footer
  include ../sections/_footer-minimal

