extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-video
include ../elements/_ui-list-inline-icon

block variables
	- var activeIndex = 0
	- var footerLink = true
	- var pageName = 'Home Default'

block page
	// Page Header
	header.page-header
		// RD Navbar
		.rd-navbar-wrap
			nav.rd-navbar(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-static', data-md-device-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-static', data-lg-layout='rd-navbar-static', data-stick-up-clone='false', data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true', data-md-stick-up-offset='69px', data-lg-stick-up-offset='1px', data-body-class='rd-navbar-default-linked')
				.rd-navbar-inner
					// RD Navbar Panel
					.rd-navbar-panel
						button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

						// RD Navbar Brand
						.rd-navbar-brand: a.brand-name(href='index.html')
							+png(logoDefault)

					// RD Navbar Nav
					.rd-navbar-nav-wrap
						.rd-navbar-nav-wrap__element
							a.button.button-gray-light-outline(href=getTemplateLink) Buy template!
						include ../includes/_nav

	include ../sections/_section-slider-default

	// Presentation
	section.section-lg.bg-white.text-center(id=seeFeaturesLink)
		.shell
			.range.range-md-center
				.cell-md-10.cell-lg-8
					h3 Consistency is the key
					p Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.
	='\n'

	// The Power of Bootstrap Toolkit
	section.bg-gray-lighter.object-wrap
		.section-xl.section-xl_bigger
			.shell
				.range
					.cell-md-5
						h3 The Power of Bootstrap Toolkit
						p We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Toolkit. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards.

		.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-right.bg-image(style='background-image: url(images/home-default-1-960x640.jpg)')
	='\n'

	// Content Driven Design
	section.section-lg.bg-white
		.shell
			.range.range-sm-center.range-md-reverse.range-md-middle.range-md-justify.range-50
				.cell-sm-9.cell-md-5
					h3 Content Driven Design
					p Unlike many other templates, Monstroid² is built around user content but not vice versa. Thus you may be sure when you add your own texts and images the template will look same cool and appealing.

				.cell-sm-9.cell-md-6
					+jpg('home-default-2-652x491')
	='\n'

	// Blurbs
	section.section-lg.bg-gray-lighter
		.shell
			.range.range-50
				.cell-sm-6.cell-md-4
					// Blurb minimal
					article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
						.unit__left
							.blurb-minimal__icon: span.icon.linear-icon-magic-wand
						.unit__body
							p.blurb__title Pixel Perfect Typography
							p It’s impossible to ignore the fact that perfect typography is a key asset of design success. We concentrated on classic proportions, great readability and better user experience to produce modern and user friendly template that adds value to any project.

				.cell-sm-6.cell-md-4
					// Blurb minimal
					article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
						.unit__left
							.blurb-minimal__icon: span.icon.linear-icon-menu3
						.unit__body
							p.blurb__title Novi Builder
							p This template comes with built-in Novi Builder. With its help you can quickly build custom HTML websites of any kind, and use our VIDE technology to accelerate your development and reduce QA time. Using this tool will provide you with lots of advantages.

				.cell-sm-6.cell-md-4
					// Blurb minimal
					article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
						.unit__left
							.blurb-minimal__icon: span.icon.linear-icon-users2
						.unit__body
							p.blurb__title Made for People
							p Monstroid² is built for real users that enjoy easy website development and at the same are looking for a clear and stunning design. Our template can provide you with lots of child themes so you don’t need to buy other templates and adapt your website to them.
	='\n'

	// GPL3 License advantages
	section.section-lg.bg-white
		.shell
			.range.range-50.range-md-middle.range-md-justify
				.cell-md-5
					h3.wow.fadeInUpSmall Control Your Website
					p.wow.fadeInUpSmall(data-wow-delay='.2s') Monstroid² gives you an ultimate set of tools that allow you to take full  control of your site with responsive & retina-ready design, various child themes, social integration, SEO optimization and other important and powerful features.

				.cell-md-6
					.row.gallery-wrap
						.col-xs-6.wow.fadeIn(data-wow-duration='.9s', data-wow-offset='100')
							+jpg('home-default-3-301x227')
						.col-xs-6.wow.fadeIn(data-wow-duration='.9s', data-wow-delay='.0s', data-wow-offset='100')
							+jpg('home-default-4-301x227')
						.col-xs-6.wow.fadeIn(data-wow-duration='.9s', data-wow-delay='.0s', data-wow-offset='20')
							+jpg('home-default-5-301x227')
						.col-xs-6.wow.fadeIn(data-wow-duration='.9s', data-wow-delay='.0s', data-wow-offset='20')
							+jpg('home-default-6-301x227')
	='\n'

	include ../sections/_section-cta-1

	section.section-lg.bg-white.text-center
		.shell
			.range.range-30.range-md-center
				.cell-md-11.cell-lg-9
					h3 Represent Your Staff
					p You can easily display the members of your staff, team or workforce. Within Monstroid² template you can present your team members using the perfectly looking and easy-to-use interface with special design and multiple styling options.
			.range.range-50.offset-top-1
				.cell-sm-6.cell-md-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+jpg('brian-king-480x362')

							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items: [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})

						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Brian King
							p.thumb__subtitle Director

				.cell-sm-6.cell-md-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+jpg('amanda-smith-480x362')

							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items: [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})

						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Amanda Smith
							p.thumb__subtitle Marketing manager

				.cell-sm-6.cell-md-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+jpg('george-nelson-418x315')

							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items: [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})

						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) George Nelson
							p.thumb__subtitle Designer
	='\n'

	// Gallery
	section.section-lg.bg-white(data-photo-swipe-gallery='gallery')
		.shell-fluid
			.range.range-10.range-horizontal-10
				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-1-1200x905.jpg', data-size='1200x905')
						figure
							+jpg('home-default-7-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-2-1200x905.jpg', data-size='1200x905')
						figure
							+jpg('home-default-8-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-3-1200x906.jpg', data-size='1200x906')
						figure
							+jpg('home-default-9-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-4-1200x905.jpg', data-size='1200x905')
						figure
							+jpg('home-default-10-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-5-1200x905.jpg', data-size='1200x905')
						figure
							+jpg('home-default-11-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-6-1200x905.jpg', data-size='1200x905')
						figure
							+jpg('home-default-12-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-7-1200x906.jpg', data-size='1200x906')
						figure
							+jpg('home-default-13-472x355')
						.thumb-modern__overlay

				.cell-sm-4.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/image-original-8-1200x906.jpg', data-size='1200x906')
						figure
							+jpg('home-default-14-472x355')
						.thumb-modern__overlay
	='\n'

	// Post Your Latest News
	section.section-lg.bg-white.text-center
		.shell
			h3 Post Your Latest News
			.range.range-50
				.cell-sm-6.cell-lg-4
					// Post classic
					article.post-minimal

						+jpg('post-minimal-1-418x315')
						.post-classic-title
							h5: a(href=postLink) 10 Reasons to Buy Monstroid²

						.post-meta
							.group-xs
								a(href=postLink): time(datetime='2017') Jan.20, 2016
								span by Brian Williamson

						.post-classic-body
							p In this article, we would like to share with you why we think Monstroid² is a perfect template for your website and why you should buy it.
						.post-minimal-footer
							a(href=postLink).button.button-link read more

				.cell-sm-6.cell-lg-4
					// Post classic
					article.post-minimal

						+jpg('post-minimal-5-418x315')
						.post-classic-title
							h5: a(href=postLink) How to Use Bootstrap Framework

						.post-meta
							.group-xs
								a(href=postLink): time(datetime='2017') Jan.20, 2016
								span by Brian Williamson

						.post-classic-body
							p Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. Here’s how you can use it.
						.post-minimal-footer
							a(href=postLink).button.button-link read more

				.cell-sm-6.cell-lg-4
					// Post classic
					article.post-minimal

						+jpg('post-minimal-2-418x315')
						.post-classic-title
							h5: a(href=postLink) Clean Style: Cons and Pros

						.post-meta
							.group-xs
								a(href=postLink): time(datetime='2017') Jan.20, 2016
								span by Brian Williamson

						.post-classic-body
							p Every website  requires clean design. It is the  basis of interfaces that are easy to interact with. Let’s discuss pros and cons of such approach.
						.post-minimal-footer
							a(href=postLink).button.button-link read more
	='\n'

	// Share Your Company Testimonials
	section.section-md.bg-gray-lighter.text-center
		.shell
			h3 Share Your Company Testimonials
			// Owl Carousel
			.owl-carousel.owl-carousel-spacing-1(data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-nav='true')
				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q I love to use your ready-made and beautifully looking templates. They are available at very affordable prices and they save me a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated, thank you!
						p.quote-default__cite Sam Lee
	='\n'

	include ../sections/_section-cta-2

	// Subscribe form
	section.section-lg.bg-white.text-center
		.shell
			h5
				| Get latest news delivered daily!
				br
				|  We will send you breaking news right to your inbox.
			// RD Mailform
			form.rd-mailform.rd-mailform_style-1.rd-mailform_sizing-1.rd-mailform-inline-flex.text-center(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
				.form-wrap.form-wrap_icon.linear-icon-envelope
					input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
					label.form-label(for="contact-email") Enter please your e-mail
				button(type="submit").button.button-primary Subscribe!
	='\n'

	// Page Footer
	include ../sections/_footer-corporate
