div.footer-mail
  include ../sections/_section-mail

div.footer-bg.footer-bg-home
  footer.footer-minimal
    .shell
      ul.list-xxs
        li
          dl.list-terms-minimal
            dt Address
            dd Bühl

        li
          dl.list-terms-minimal
            dt E-mail
            dd: a(href='mailto:contact@olyoga.de') contact@olyoga.de

        li
          dl.list-terms-minimal.chng-languages
            dd
              ul
                li Deutsch
                li
                  a(href="/-eng") English
                li
                  a(href="#") Russisch


      div.list-inline-sm.footer-minimal__list.insta-gallery.range(id='instafeed')

      p.rights
        span!=brandName
        span &nbsp; &copy; &nbsp;
        span(id="copyright-year")
        span
          a.license(href='datenschutzerklarung' target="_blank") Datenschutzerklärung

        if(footerLink)
          // {%FOOTER_LINK}
