include ../elements/_ui-rd-video
// Swiper
section
  .swiper-container.swiper-slider.swiper-slider_fullheight(data-simulate-touch="false", data-loop='true', data-autoplay='false')
    .swiper-wrapper
      .swiper-slide.bg-gray-lighter(data-slide-bg='images/slider-slide-1-1920x980.jpg')
        .swiper-slide-caption.text-center
          .shell
            h1(data-caption-animate='fadeInUpSmall')
              span Monstroid
              sup.text-primary 2
            h3(data-caption-animate='fadeInUpSmall', data-caption-delay='200') New HTML Templates Generation
            .group-lg.group-middle
              a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
              a.button.button-gray-base(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

      .swiper-slide.swiper-slide_top.bg-primary(data-slide-bg='images/slider-slide-2-1920x980.jpg')
        .swiper-slide-caption
          .shell
            h2(data-caption-animate='fadeInLeftSmall')
              | The Power of Bootstrap  
              br.veil.reveal-md-block
              |  Discover it with Monstroid²
            a.button.button-gray-light-outline(data-caption-animate='fadeInLeftSmall', data-caption-delay='200', href=getTemplateLink) Buy template

      .swiper-slide.bg-gray-dark.bg-video
        video( poster="video/video-lg.jpg" src="video/video-lg.mp4" loop muted )
        .swiper-slide-caption.text-center
          .shell
            h2(data-caption-animate='fadeInUpSmall') Built by geeks & used by humans
            h5.text-width-2.block-centered(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Monstroid#[sup 2] aims to satisfy real needs of real projects. We've got a pack of tools for that.
            .group-lg.group-middle
              a.button.button-gray-base(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
              a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

    // Swiper Pagination
    .swiper-pagination

    // Swiper Navigation
    .swiper-button-prev.linear-icon-chevron-left
    .swiper-button-next.linear-icon-chevron-right

='\n'