// Swiper
section.rd-parallax
  .rd-parallax-layer(data-type='html', data-speed='1')
    .swiper-container.swiper-slider.swiper-slider_fullheight(data-simulate-touch="false", data-loop='true', data-autoplay='false')
      .swiper-wrapper
        .swiper-slide.bg-secondary-7.custom-parallax-wrap(data-slide-bg='images/slider-slide-4-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
              .shell
                h2(data-caption-animate='fadeInUpSmall') "The only journey is the journey within"
                p(data-caption-animate='fadeInUpSmall') Rainer Maria Rilke

        .swiper-slide.bg-gray-dark.custom-parallax-wrap(data-slide-bg='images/slider-slide-5-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h2(data-caption-animate='fadeInUpSmall') "Es reicht nicht, den Baum hinaufzusteigen, wir müssen auch wissen, wie wir wieder herunterkommen"
              p(data-caption-animate='fadeInUpSmall') T.K.V. Desikachar

        .swiper-slide.bg-gray-dark.custom-parallax-wrap(data-slide-bg='images/slider-slide-6-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h2(data-caption-animate='fadeInUpSmall') "Wir beginnen dort, wo wir sind, so, wie wir sind und was geschieht, geschieht"
              p(data-caption-animate='fadeInUpSmall') T.K.V. Desikachar



      // Swiper Pagination
      .swiper-pagination

      // Swiper Navigation
      .swiper-button-prev.linear-icon-chevron-left
      .swiper-button-next.linear-icon-chevron-right
='\n'