include ../elements/_ui-rd-parallax
section.bg-gray-dark.text-center
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/parallax-10.jpg",
    "htmlSpeed": "0.1",
    "class": 'rd-parallax-light'
  })
    .shell.section-xl
      h3 "Yoga is 99% practice and 1% theory"
      p Sri K. Pattabhi Jois
='\n'


