// RD Navbar Top Panel
.rd-navbar-top-panel.rd-navbar-search-wrap
  .rd-navbar-top-panel__main
    .rd-navbar-top-panel__toggle.rd-navbar-fixed__element-1.rd-navbar-static--hidden(data-rd-navbar-toggle='.rd-navbar-top-panel__main'): span
    .rd-navbar-top-panel__content
      .rd-navbar-top-panel__left: p OlYoga Site
      .rd-navbar-top-panel__right: ul.rd-navbar-items-list

        li: ul.list-inline-xxs
          li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='https://www.instagram.com/ol.yo.ga/')

  .rd-navbar-top-panel__aside
    ul.rd-navbar-items-list
      li: .rd-navbar-fixed__element-2: button.rd-navbar-search__toggle.rd-navbar-search__toggle_additional(data-rd-navbar-toggle='.rd-navbar-search-wrap')

  include _navbar-search